@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: bold;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Gulf";
  font-style: normal;
  font-weight: 700;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Gulf";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 400;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.ttf") format("truetype");
}
html, body {
  height: 100%;
  width: 100%;
}

html, body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
  border: unset;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-shadow: unset;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

/*// ****************** //*/
/*//       COLORS       //*/
/*// ****************** //*/
/*// ************** //*/
/*// LAYOUT VARIABLES   //*/
/*// ************** //*/
/*// ************** //*/
/*// ASSETS VARIABLES   //*/
/*// ************** //*/
/* 
    Mixin to set a margin for a layout
*/
.pull-right {
  float: right;
}
.pull-right::after {
  clear: both;
}

.page-container {
  height: 100%;
}

@media only screen and (max-width: 785px) {
  #hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
body {
  overflow-x: hidden;
}

#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 785px) {
  #hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
#hero .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
@media only screen and (max-width: 601px) {
  #hero .text {
    margin: 5px;
  }
}
@media only screen and (min-width: 602px) {
  #hero .text {
    margin: 10px;
  }
}
@media only screen and (min-width: 902px) {
  #hero .text {
    margin: 40px;
  }
}
@media only screen and (min-width: 768px) {
  #hero .text {
    transform: translateX(-20px);
  }
}
@media only screen and (max-width: 785px) {
  #hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 350px;
  }
}
#hero .text .title {
  /** calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) 
      / ([maximum viewport width] - [minimum viewport width])));
  **/
  font-size: calc(60px + 20 * ((100vw - 300px) / 1300));
  color: #091220;
  font-weight: bold;
}
#hero .text .sub-title {
  /** calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) 
      / ([maximum viewport width] - [minimum viewport width])));
  **/
  font-size: calc(14px + 10 * ((100vw - 300px) / 1300));
  color: #9FA8B3;
}
#hero .media {
  flex: 2;
  width: 100%;
  height: 100%;
}
#hero .media svg {
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: -1;
  width: 100%;
}
@media only screen and (max-width: 785px) {
  #hero .media svg {
    left: 2%;
  }
}
@media only screen and (min-width: 786px) {
  #hero .media svg {
    left: 10%;
  }
}
@media only screen and (min-width: 902px) {
  #hero .media svg {
    left: 15%;
  }
}
@media only screen and (min-width: 993px) {
  #hero .media svg {
    left: 25%;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  max-height: 50px;
  justify-content: space-between;
}
@media only screen and (max-width: 601px) {
  nav {
    margin: 5px;
  }
}
@media only screen and (min-width: 602px) {
  nav {
    margin: 10px;
  }
}
@media only screen and (min-width: 902px) {
  nav {
    margin: 15px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
}

.menu-bar {
  width: 50px;
}
.menu-bar svg {
  fill: #9FA8B3;
  width: 50%;
}

html[lang=ar-sa] nav {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=app.css.map */
