@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: bold;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Gulf";
  font-style: normal;
  font-weight: 700;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Gulf";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.eot");
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 300;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 600;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SF Pro Icons";
  font-style: normal;
  font-weight: 400;
  src: local("☺︎"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.ttf") format("truetype");
}
html, body {
  height: 100%;
  width: 100%;
}

html, body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
  border: unset;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "Helvetica", sans-serif;
  box-shadow: unset;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*// ****************** //*/
/*//       COLORS       //*/
/*// ****************** //*/
/*// ****************** //*/
/*// LAYOUT VARIABLES   //*/
/*// ****************** //*/
/*// ****************** //*/
/*// ASSETS VARIABLES   //*/
/*// ****************** //*/
/* 
    Mixin to set a margin for a layout
*/
body, body * {
  font-family: "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.pull-right {
  float: right;
}
.pull-right::after {
  clear: both;
}

@media only screen and (max-width: 601px) {
  .container {
    margin: 5px;
  }
}
@media only screen and (min-width: 602px) {
  .container {
    margin: 10px;
  }
}
@media only screen and (min-width: 902px) {
  .container {
    margin: 15px;
  }
}

.page-wrapper {
  background: #EFF1F8;
}

.tags, .sub-title, .title {
  padding-bottom: 10px;
}

.cta {
  text-align: center;
  margin: 45px auto;
  max-width: 800px;
}

.tags .tag, .cta-btn {
  display: inline-block;
  border-radius: 32px;
  padding: 0 10px;
  line-height: 34px;
  margin-left: 10px;
  min-width: 40px;
  text-align: center;
}

.purple {
  background: #440F4E;
}

.red {
  background: #D5425E;
}

.yellow {
  background: #FBB077;
}

.title {
  /** calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) 
      / ([maximum viewport width] - [minimum viewport width])));
  **/
  font-size: calc(24px + 26 * ((100vw - 300px) / 1300));
  color: #3f4450;
  font-weight: bold;
}

.sub-title {
  /** calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) 
      / ([maximum viewport width] - [minimum viewport width])));
  **/
  font-size: calc(12px + 12 * ((100vw - 300px) / 1300));
  color: #3f4450;
  opacity: 0.6;
}

.work:nth-child(even) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.work:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
}
.work .text {
  flex-basis: 50%;
}
@media only screen and (max-width: 601px) {
  .work .text {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 602px) {
  .work .text {
    margin: 60px;
  }
}
@media only screen and (min-width: 902px) {
  .work .text {
    margin: 80px;
  }
}
.work .desc {
  padding-bottom: 20px;
}
.work .media {
  flex-basis: 50%;
  margin-right: auto;
  padding: 120px 0;
}

html[lang=ar-sa] .text {
  text-align: right;
}

.tags {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}
.tags .tag {
  background: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  max-height: 50px;
  justify-content: space-between;
  z-index: 2;
}
@media only screen and (max-width: 601px) {
  nav {
    margin: 5px;
  }
}
@media only screen and (min-width: 602px) {
  nav {
    margin: 10px;
  }
}
@media only screen and (min-width: 902px) {
  nav {
    margin: 15px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 50px;
}

.menu-bar {
  width: 50px;
}
.menu-bar svg {
  fill: #9FA8B3;
  width: 50%;
}

html[lang=ar-sa] nav {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=app.css.map */
