extends ./jade/master.jade

block title 
    title ttoor | Contact
block main
    main#main-content
        section#form-options
            div.header 
                span.caption Let's Start
                h1.title How can we help you?
            div.options
                div.option(data-form="project")
                    figure.form-icon
                        img(src="./assets/images/contact/icon-project.svg" alt="project")
                    h2 عندك مشروع ؟
                div.option(data-form="chat")
                    figure.form-icon
                        img(src="./assets/images/contact/icon-chat.svg" alt="chat")
                    h2 شات
        section#project
        
        section#chat