extends ./jade/master.jade

block title 
    title ttoor | Contact
block main
    main#main-content
        section#form-options
            div.header 
                h1.title H
            div.options
                div.option(data-form="project")
                    div.icon
                    h2 عندك مشروع ؟
                div.option(data-form="chat")
                    div.icon
                    h2 شات
        section#project
        
        section#chat