doctype html
html(lang="ar-sa")
html
        head 
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title ttoor | Home
            link(href="css/app.css", rel="stylesheet", type="text/css")
        body
            div.page-wrapper
                header#header
                    nav
                        div.logo
                            img(src="assets/images/dumy-logo.png", alt="ttoor")
                        div.menu-bar
                            include ./assets/images/menu-icon.jade
                main#main-content
                    section#hero
                        div.media
                            include ./assets/images/hero-img.jade
                        div.text
                                h1.title طور
                                h2.sub-title.slogan  يطور تطبيقات وحلول الويب بجودة عالية وباستخدام مبادئ التصميم وتجربة المستخدم 
                    section#works
                        div.work.yellow
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work.purple
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work.red
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.cta
                            h1.title شاهد المزيد من أعمال طور 
                            p.sub-title.stmt اطلع على تطبيقنا لمشاريع الويب من بداية الفكرة إلى التصميم ثم التطوير انتهاءاً بنشر المشروع على الويب
                            button.cta-btn شاهد جميع أعمالنا
                    section#workflow
                        div.item
                            div.icon
                            div.text
                                h1.title
                                p.desc                        
                    section.main-cta
                        h1.title
                        p.stmt
                        button.cta-btn
                footer#footer
                    ul
                        li.copyright
                        li.social
                            ul
                                li.social-item
                                li.social-item
                                li.social-item
            script(src="js/app.js")
