doctype html
html(lang="ar-sa")
html
        head 
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title ttoor | Home
            link(href="css/app.css", rel="stylesheet", type="text/css")
        body
            div.page-container
                header#header
                    nav
                        div.logo
                            img(src="assets/images/dumy-logo.png", alt="ttoor")
                        div.menu-bar
                            //- img(src="assets/images/menu-icon.svg", alt="menu")
                            include ./assets/images/menu-icon.jade
                main#main-content
                    section#hero
                        div.media
                            include ./assets/images/hero-img.jade
                        div.text
                                h1.title طور
                                h2.sub-title.slogan  يطور تطبيقات وحلول الويب بجودة عالية وباستخدام مبادئ التصميم وتجربة المستخدم 
                    section#works
                        div.work
                            div.text
                                h1.title
                                h2.highlight
                                div.tags
                                    div.tag
                                    div.tag
                                    div.tag
                                p.desc
                            div.media
                        div.cta
                            h1.title
                            p.stmt
                            button.cta-btn
                    section#workflow
                        div.item
                            div.icon
                            div.text
                                h1.title
                                p.desc                        
                    section.main-cta
                        h1.title
                        p.stmt
                        button.cta-btn
                footer#footer
                    ul
                    li.copyright
                    li.social
                        ul
                            li.social-item
                            li.social-item
                            li.social-item
            script(src="js/app.js")
