doctype html
html(lang="ar-sa")
html
        head 
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title ttoor | Home
            link(href="//daneden.github.io/animate.css/animate.min.css", rel="stylesheet", type="text/css")
            link(href="css/app.css", rel="stylesheet", type="text/css")
        body
            div.page-wrapper
                header#header
                    nav
                        div.logo
                            img(src="assets/images/dumy-logo.png", alt="ttoor")
                        div.menu-bar
                            include ./assets/images/menu-icon.jade
                main#main-content
                    section#hero
                        div.media
                            include ./assets/images/hero-img.jade
                        div.text
                                h1.title طور
                                h2.sub-title.slogan  يطور تطبيقات وحلول الويب بجودة عالية وباستخدام مبادئ التصميم وتجربة المستخدم 
                    section#works
                        div.work(data-color="yellow") 
                            div.text
                                h1.title.anime.fade-up قنة
                                h2.sub-title.highlight.anime.fade-up منصة تجارة إلكترونية
                                div.tags.anime.fade-up
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc.anime.fade-up منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn.anime.fade-up شاهد المزيد   
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work(data-color="purple")
                            div.text
                                h1.title.anime.fade-up قنة
                                h2.sub-title.highlight.anime.fade-up منصة تجارة إلكترونية
                                div.tags.anime.fade-up
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc.anime.fade-up منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn.anime.fade-up شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work(data-color="red")
                            div.text
                                h1.title.anime.fade-up قنة
                                h2.sub-title.highlight.anime.fade-up منصة تجارة إلكترونية
                                div.tags.anime.fade-up
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc.anime.fade-up منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn.anime.fade-up شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.cta.anime.fadeInUp
                            h1.title شاهد المزيد من أعمال طور 
                            p.sub-title.stmt اطلع على تطبيقنا لمشاريع الويب من بداية الفكرة إلى التصميم ثم التطوير انتهاءاً بنشر المشروع على الويب
                            button.cta-btn شاهد جميع أعمالنا
                    section#workflow
                        div.header
                            h1.title كيف نعمل في طور
                            p.stmt  عند تطوير أي مشروع، يتم العمل عبر مراحل أساسية لضمان الجودة وقابلية التطوير
                        div(data-parallax='{"scale":0.66}').item
                            div.icon.anime.text-right   
                                include ./assets/images/workflow/planning.jade
                            div.text
                                h1.title.anime.text-right مرحلة التخطيط
                                p.desc.anime.text-right بهذه المرحلة يتم التخطيط وجمع البيانات  
                        div(data-parallax='{"scale":0.66}').item
                            div.icon.anime.text-right  
                                include ./assets/images/workflow/analysis.jade
                            div.text
                                h1.title.anime.text-right مرحلة التصميم
                                p.desc.anime.text-right بهذه المرحلة يتم التخطيط وجمع البيانات
                        div(data-parallax='{"scale":0.66}').item
                            div.icon.anime.text-right   
                                include ./assets/images/workflow/dev.jade
                            div.text
                                h1.title.anime.text-right مرحلة التطوير
                                p.desc.anime.text-right  بهذه المرحلة يتم التخطيط وجمع البيانات     
                        div(data-parallax='{"scale":0.66}').item
                            div.icon.anime.text-right   
                                include ./assets/images/workflow/testing.jade
                            div.text
                                h1.title.anime.text-right مرحلة الاختبار والنشر
                                p.desc.anime.text-right  بهذه المرحلة يتم التخطيط وجمع البيانات                   
                    section.main-cta
                        div.wrapper.anime.text-right
                            p.stmt
                                span عندك مشروع؟ ناقشه معنا
                                span متردد وتحتاج مساعدة؟ راسلنا وحدد موعد للإستشارة
                                span او فقط استفسر حول أي ماقد يخطر على بالك
                            button.cta-btn راسلنا الآن
                footer#footer
                    ul
                        li.copyright  جميع الحقوق محفوظة &copy; #{new Date().getFullYear()} لشركة طور
                        li.social
                            ul
                                li.social-item 
                                    a(href="#")
                                        include ./assets/images/icons/social/linkedin-icon.jade
                                li.social-item
                                     a(href="#")
                                        include ./assets/images/icons/social/twitter-icon.jade
                                li.social-item
                                     a(href="#")
                                        include ./assets/images/icons/social/email-icon.jade
                                 li.social-item
                                     a(href="#")
                                        include ./assets/images/icons/social/phone-icon.jade
                                 li.social-item
                                     a(href="#")
                                        include ./assets/images/icons/social/instagram-icon.jade

            script(src="js/lib/wow.min.js")
            script(src="js/lib/jquery-2.1.3.min.js")
            script(src="js/lib/jquery.parallax-scroll.js")
            script(src="js/app.js")
