doctype html
html(lang="en")
html
        head 
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title ttoor | Home
            link(href="css/app.css", rel="stylesheet", type="text/css")
        body
            header#header
                nav
                    ul
                        li.logo
                        li.menu-bar
            main#main-content
              article
                section#hero
                    div.text
                        h1.title
                        h2.sub-title.slogan
                    div.media
                section#works
                    div.work
                        div.text
                            h1.title
                            h2.highlight
                            div.tags
                                div.tag
                                div.tag
                                div.tag
                            p.desc
                        div.media
                    div.cta
                        h1.title
                        p.stmt
                        button.cta-btn
                section#workflow
                    div.item
                        div.icon
                        div.text
                            h1.title
                            p.desc                        
                section.main-cta
                    h1.title
                    p.stmt
                    button.cta-btn
            footer#footer
                ul
                    li.copyright
                    li.social
                        ul
                            li.social-item
                            li.social-item
                            li.social-item
            script(src="js/app.js")
