doctype html
html(lang="ar-sa")
html
        head 
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title ttoor | Home
            link(href="css/app.css", rel="stylesheet", type="text/css")
        body
            div.page-wrapper
                header#header
                    nav
                        div.logo
                            img(src="assets/images/dumy-logo.png", alt="ttoor")
                        div.menu-bar
                            include ./assets/images/menu-icon.jade
                main#main-content
                    section#hero
                        div.media
                            include ./assets/images/hero-img.jade
                        div.text
                                h1.title طور
                                h2.sub-title.slogan  يطور تطبيقات وحلول الويب بجودة عالية وباستخدام مبادئ التصميم وتجربة المستخدم 
                    section#works
                        div.work.yellow
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work.purple
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.work.red
                            div.text
                                h1.title قنة
                                h2.sub-title.highlight منصة تجارة إلكترونية
                                div.tags
                                    div.tag laravel
                                    div.tag mysql
                                    div.tag php
                                p.desc منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية منصة تجارة الكترونية
                                button.cta-btn شاهد المزيد
                            div.media
                                include ./assets/images/browser-img.jade
                        div.cta
                            h1.title شاهد المزيد من أعمال طور 
                            p.sub-title.stmt اطلع على تطبيقنا لمشاريع الويب من بداية الفكرة إلى التصميم ثم التطوير انتهاءاً بنشر المشروع على الويب
                            button.cta-btn شاهد جميع أعمالنا
                    section#workflow
                        div.item
                            div.icon   
                                include ./assets/images/map-pin.jade
                            div.text
                                h1.title مرحلة التخطيط
                                p.desc  بهذه المرحلة يتم التخطيط وجمع البيانات  
                        div.item
                            div.icon   
                                include ./assets/images/map-pin.jade
                            div.text
                                h1.title مرحلة التصميم
                                p.desc  بهذه المرحلة يتم التخطيط وجمع البيانات
                        div.item
                            div.icon   
                                include ./assets/images/map-pin.jade
                            div.text
                                h1.title مرحلة التطوير
                                p.desc  بهذه المرحلة يتم التخطيط وجمع البيانات     
                        div.item
                            div.icon   
                                include ./assets/images/map-pin.jade
                            div.text
                                h1.title مرحلة الاختبار والنشر
                                p.desc  بهذه المرحلة يتم التخطيط وجمع البيانات                   
                    section.main-cta
                        p.stmt
                            span عندك مشروع؟ ناقشه معنا
                            span متردد وتحتاج مساعدة؟ راسلنا وحدد موعد للإستشارة
                            span او فقط استفسر حول أي ماقد يخطر على بالك
                        button.cta-btn راسلنا الآن
                footer#footer
                    ul
                        li.copyright  جميع الحقوق محفوظة &copy; #{new Date().getFullYear()} لشركة طور
                        li.social
                            ul
                                li.social-item 
                                    a(href="#")
                                        include ./assets/images/linkedin-icon.jade
                                li.social-item
                                     a(href="#")
                                        include ./assets/images/twitter-icon.jade
                                li.social-item
                                     a(href="#")
                                        include ./assets/images/email-icon.jade
                                 li.social-item
                                     a(href="#")
                                        include ./assets/images/phone-icon.jade
                                 li.social-item
                                     a(href="#")
                                        include ./assets/images/instagram-icon.jade

            script(src="js/app.js")
