@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:100;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_ultralight.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_semibold.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Display';
	font-style:normal;
	font-weight:400;
	src:url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.eot");
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Display/sf-pro-display_regular.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:300;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_light.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_semibold.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:bold;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_bold.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Text';
	font-style:normal;
	font-weight:400;
	src:url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.eot");
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Text/sf-pro-text_regular.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Gulf';
	font-style:normal;
	font-weight:700;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_bold.ttf") format("truetype");
}


@font-face {
	font-family:'SF Pro Gulf';
	font-style:normal;
	font-weight:400;
	src:url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.eot");
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff2") format("woff2"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Gulf/SFProGulf_regular.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:300;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_light.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:600;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_semibold.ttf") format("truetype");
}

@font-face {
	font-family:'SF Pro Icons';
	font-style:normal;
	font-weight:400;
	src:local('☺︎'), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.woff") format("woff"), url("/assets/fonts/SF-Pro-Icons/SFProIcons_regular.ttf") format("truetype");
}


