
/*// ****************** //*/
/*//       COLORS       //*/
/*// ****************** //*/
$bg:        #EFF1F8;
$grey:      #9FA8B3;
$dark-grey: #3f4450;
$off-white: #F6F6F6;
$white-grey: #CDCDD2;
$black: #091220 ;

// Dumy colors
$paper-yellow: #FBB077;
$paper-purple: #440F4E;
$paper-red: #D5425E;
$blue-purple: #2B0D9D;
$pink: #B89BB8;
$paper-grey: #7985A6;
$paper-orange: #F53947;
$paper-terq: #30A6A4;
$paper-green: #51B763;

$paper-yellow-rgba: rgba(251,176,119,0.6);
$paper-purple-rgba: rgba(68,15,78,0.5);
$paper-red-rgba: rgba(213,66,94,0.5);
$blue-purple-rgba: rgba(43,13,157,0.5);
$pink-rgba: rgba(184,155,184,0.5);
$paper-grey-rgba: rgba(121,133,166,0.5);
$paper-orange-rgba: rgba(245,57,71,0.5);
$paper-terq-rgba: rgba(48,166,164,0.5);
$paper-green-rgba: rgba(81,183,99,0.5);

/*// ****************** //*/
/*// LAYOUT VARIABLES   //*/
/*// ****************** //*/

// Margins 
$desk-nav-margin: 15px;
$tablet-nav-margin: 10px;
$mobile-nav-margin: 5px;

$desk-elm-margin: 80px; 
$tablet-elm-margin: 20px 60px; 
$mobile-elm-margin: 20px; 


$max-view: 1600px;
$min-view: 300px;

/*// ************** //*/
/*// ASSETS VARIABLES   //*/
/*// ****************** //*/

// Fonts 
$font-stack: "SF Pro Gulf", "SF Pro Display", "SF Pro Text", "SF Pro Icons", 
                "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Text Size
$max-title: 50px;
$min-title: 24px;

$max-sub-title: 24px;
$min-sub-title: 12px;

// Image Size
$icon-size: 50px;

/*// ************** //*/
/*// Media Brekpoint  //*/
/*// ****************** //*/
$four-k:2560px;
$laptop-l:1440px;
$laptop:1024px;
$tablet:768px;
$tablet-s:601px;
$mobile-l:425px;
$mobile-m:375px;
$mobile-s:320px;