// ?xml version="1.0" encoding="utf-8"?
// Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-92 183.3 426.7 426.7', style='enable-background:new -92 183.3 426.7 426.7;', xml:space='preserve')
  style(type='text/css').
     
    .st1{fill:#FFFFFF;}
    .st2{fill:#2B3B4E;}
    .st3{fill:#324A5E;}
    .st4{fill:#FF7058;}
    .st5{fill:#FFD05B;}
  path(d='M121.3,183.3c-86.6,0-156.9,70.3-156.9,156.8c0,36.2,13.1,68.5,32.5,95.6C121.3,610,121.3,610,121.3,610\
  s0,0,124.4-174.2c19.3-27.1,32.5-59.6,32.5-95.6C278.2,253.6,208,183.3,121.3,183.3z')
  path.st1(d='M219.3,340.2c0,54.2-43.8,97.9-97.9,97.9c-54,0-97.9-43.7-97.9-97.9c0-54,43.9-97.9,97.9-97.9\
  C175.5,242.3,219.3,286.1,219.3,340.2z')
  g#planning
    rect.st2(x='131.2', y='346.8', transform='matrix(-0.6726 0.74 -0.74 -0.6726 491.2971 494.5026)', width='10.2', height='18.2')
    path.st3(d='M129.8,293.3c-17.2-15.6-44-14.3-59.6,2.9c-15.6,17.2-14.3,44,2.9,59.6c17.2,15.6,44,14.3,59.6-2.9\
    C148.4,335.4,147,308.9,129.8,293.3z M125.3,346c-12,13.2-32.3,14.1-45.6,2.1c-13.1-11.7-14.1-32.1-2.1-45.3s32.3-14.1,45.6-2.1\
    C136.2,312.4,137.3,332.8,125.3,346z')
    path.st4(d='M143.7,355l-7.6,8.4c-1.5,1.6-1.5,4.4,0.4,5.9l34.6,31.6c1.6,1.5,4.4,1.5,5.9-0.4l7.6-8.4\
    c1.5-1.6,1.5-4.4-0.4-5.9l-34.6-31.6C147.7,353.3,145.1,353.4,143.7,355z')
    rect.st5(x='141.5', y='368', transform='matrix(-0.74 -0.6726 0.6726 -0.74 24.6178 765.2131)', width='37.5', height='19.6')
