svg#analysis(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='-92 183.3 426.7 426.7', style='enable-background:new -92 183.3 426.7 426.7;', xml:space='preserve')
  style(type='text/css').
    .st2{fill:#FF7058;}
    .st3{fill:#E6E9EE;}
    .st4{fill:#F1543F;}
    .st5{fill:#FFD05B;}
    .st6{fill:#324A5E;}
  path.st0(d='M121.3,183.3c-86.6,0-156.9,70.3-156.9,156.8c0,36.2,13.1,68.5,32.5,95.6C121.3,610,121.3,610,121.3,610\
  s0,0,124.4-174.2c19.3-27.1,32.5-59.6,32.5-95.6C278.2,253.6,208,183.3,121.3,183.3z')
  path.icon.st1(d='M219.3,340.2c0,54.2-43.8,97.9-97.9,97.9c-54,0-97.9-43.7-97.9-97.9c0-54,43.9-97.9,97.9-97.9\
  C175.5,242.3,219.3,286.1,219.3,340.2z')
  g
    rect.st2(x='101.3', y='296.5', transform='matrix(0.7071 0.7071 -0.7071 0.7071 277.7542 13.3896)', width='42.9', height='91')
    rect.st3(x='144.2', y='292.8', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -178.1569 198.4042)', width='12.5', height='42.9')
    path.st4(d='M170,325l12.9-12.9c1.9-1.9,1.9-5,0-7.2l-23.2-23.2c-1.9-1.9-5-1.9-7.2,0l-12.9,12.9L170,325z')
    polygon.st5(points='75.2,359 64.1,400.4 105.6,389.4 	')
    polygon.st6(points='67.7,387 64.1,400.4 77.6,396.8 	')
