$nav-height: 50px;
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    @include layout-marign($mobile-nav-margin, $tablet-nav-margin, $desk-nav-margin);
    z-index: 2;
}

.logo {
    display: flex;
    align-items: center;
    img {
        width: $icon-size;
    }
}

.menu-bar {
    width: $icon-size;
    svg {
        fill: $grey;
        width: 50%;
    }
}

html[lang="ar"] {
    nav {
        flex-direction: row-reverse;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 4; 
    left: 0;
    top: 0;
    right: 0;
    background-color: $paper-purple; 
    overflow-x: hidden; 
    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: $off-white;
        opacity: 0.6;
        display: block; 
        &:hover, &:focus {
            color: #f1f1f1;
        }
    }
}

.overlay-content {
    position: relative; 
    width: 100%; 
    text-align: center;
    margin-top: 50px; 
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}