
body {
    overflow-x: hidden;
}

body, body * {
font-family: $font-stack;
}

.pull-right {
    float: right;
    &::after {
        clear: both;
    }
}

.container {
    @include layout-marign($mobile-nav-margin, $tablet-nav-margin, $desk-nav-margin);
}

