
/*// ****************** //*/
/*//       COLORS       //*/
/*// ****************** //*/
$bg:        #EFF1F8;
$grey:      #9FA8B3;
$dark-grey: #3f4450;
$off-white: #F6F6F6;
$white-grey: #CDCDD2;
$black: #091220 ;

// Dumy colors
$paper-yellow: #FBB077;
$paper-purple: #440F4E;
$paper-red: #D5425E;

/*// ****************** //*/
/*// LAYOUT VARIABLES   //*/
/*// ****************** //*/

// Margins 
$desk-nav-margin: 15px;
$tablet-nav-margin: 10px;
$mobile-nav-margin: 5px;

$desk-elm-margin: 80px; 
$tablet-elm-margin: 60px; 
$mobile-elm-margin: 0 auto; 


$max-view: 1600px;
$min-view: 300px;

/*// ************** //*/
/*// ASSETS VARIABLES   //*/
/*// ****************** //*/

// Fonts 
$font-stack: "SF Pro Gulf", "SF Pro Text", "SF Pro Icons", 
                "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Text Size
$max-title: 50px;
$min-title: 24px;

$max-sub-title: 24px;
$min-sub-title: 12px;

// Image Size
$icon-size: 50px;

/*// ************** //*/
/*// Media Brekpoint  //*/
/*// ****************** //*/
$four-k:2560px;
$laptop-l:1440px;
$laptop:1024px;
$tablet:768px;
$tablet-s:601px;
$mobile-l:425px;
$mobile-m:375px;
$mobile-s:320px;