<svg viewBox="0 0 636 548" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.99998 0C0.343127 0 -1 1.34315 -1 3V48C-1 51.866 2.13401 55 6 55H628.63C632.496 55 635.63 51.866 635.63 48V3C635.63 1.34315 634.287 0 632.63 0H1.99998Z" fill="#E5E5E5"/>
<path opacity="0.85" fill-rule="evenodd" clip-rule="evenodd" d="M94.3941 13.5926V40.5926H624.584V13.5926H94.3941Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.5 35C28.6421 35 32 31.6421 32 27.5C32 23.3579 28.6421 20 24.5 20C20.3579 20 17 23.3579 17 27.5C17 31.6421 20.3579 35 24.5 35Z" fill="#E96E4C"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M47.5 35C51.6421 35 55 31.6421 55 27.5C55 23.3579 51.6421 20 47.5 20C43.3579 20 40 23.3579 40 27.5C40 31.6421 43.3579 35 47.5 35Z" fill="#E6A935"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M70.5 35C74.6421 35 78 31.6421 78 27.5C78 23.3579 74.6421 20 70.5 20C66.3579 20 63 23.3579 63 27.5C63 31.6421 66.3579 35 70.5 35Z" fill="#85C33D"/>
<path d="M635.13 547.278H-0.5V51.5331H635.13V547.278Z" fill="white" stroke="#E5E5E5"/>
</svg>
