.work {
    &:nth-child(even) {
        @include flex-container(row, flex-start, center);

        @include responsive(max, $tablet) {
            flex-direction: column-reverse;
        }
    }

    &:nth-child(odd) {
        @include flex-container(row-reverse, flex-start, center);

        @include responsive(max, $tablet) {
            flex-direction: column-reverse;
        }
    }

    .text {
        flex-basis: 50%;
        @include layout-marign($mobile-elm-margin, $tablet-elm-margin, $desk-elm-margin);
    }

    .desc {
        padding-bottom: 20px;
        @include size(font-size, $min-sub-title, $max-sub-title, $min-view, $max-view);
    }

    .media {
        flex-basis: 50%;
        margin-right: auto;
        padding: 120px 0;

        @include responsive(max, $tablet) {
            padding-bottom: 0;
            margin: 0 auto;
            display: inline-block;
            width: 80%;
        }
    }
}

#works {
    margin-bottom: 150px;
    button {
        @include btn(0 30px, transparent, 2px solid $white-grey, $white-grey);
        margin-top: 20px;
    }
}
