#works {
    button {
        @include btn(0 30px, transparent, 2px solid $white-grey, $white-grey);
        margin-top: 20px;
    }
}
.work {
    &:nth-child(even) {
        @include flex-container(row, flex-start, center);
        @include responsive(max, $tablet) {
            flex-direction: column-reverse;
        }
    }

    &:nth-child(odd) {
        @include flex-container(row-reverse, flex-start, center);
        @include responsive(max, $tablet) {
            flex-direction: column-reverse;
        }
    }

    .text {
        flex-basis: 50%;
        @include layout-marign($mobile-elm-margin, $tablet-elm-margin, $desk-elm-margin);
    }

    .desc {
        padding-bottom: 20px;
        @include size(font-size, $min-sub-title, $max-sub-title, $min-view, $max-view);
    }

    .media {
        flex-basis: 50%;
        margin-right: auto;
        padding: 120px 0;
        @include responsive(max, $tablet) {
            padding-bottom: 0;
            margin: 0 auto;
            display: inline-block;
            width: 80%;
        }
    }
}

html[lang=ar-sa] {
    .text {
        text-align: right;
    }
}

.tags {
    @include flex-container(row-reverse, flex-start, flex-start);
    @extend %padding-text;

    .tag {
        background: rgba(255, 255, 255, 0.3);
        font-size: 14px;
        @extend %rounded-shape;
    }
}

#hero {
    width: 100%;
    height: 100vh;
    @include flex-container(row-reverse, center, center);

    @include responsive('max', 785px) {
        @include flex-container(column-reverse, center, center);
    }

    .text {
        @include flex-items(1);
        @include flex-container(column, center, flex-end);
        text-align: right;
        @include layout-marign($mobile-elm-margin, $tablet-elm-margin, $desk-elm-margin);

        @include responsive('min', 768px) {
            transform: translateX(-20px);
        }

        @include responsive('max', 785px) {
            @include flex-container(column, center, center);
            text-align: center;
            max-width: 350px;
        }

        .title {
            @include size(font-size, 60px, 80px, $min-view, $max-view);
            color: $black;
            font-weight: bold;
        }

        .sub-title {
            @include size(font-size, 14px, $max-sub-title, $min-view, $max-view);
            color: $grey;
        }
    }

    .media {
        @include flex-items(2);
        width: 100%;
        height: 100%;

        svg {
            height: 100%;
            position: absolute;
            right: 0px;
            width: 100%;

            @include responsive('max', 785px) {
                left: 2%;
            }

            @include responsive('min', 786px) {
                left: 10%;
            }

            @include responsive('min', 902px) {
                left: 15%;
            }

            @include responsive('min', 993px) {
                left: 25%;
            }
        }
    }
}

/*// ************** //*/
/*// WORKFLOW STYLE //*/
/*// ************** //*/
#workflow {
    width: 100%;
    text-align: center;
    background: $grey;
    box-sizing: border-box;
    @include layout-padding($mobile-elm-margin, $tablet-elm-margin, $desk-elm-margin);

    .item {
        text-align: -webkit-left;
        text-align: -moz-left;
        text-align: -o-left;
        text-align: -ms-left;
        text-align: left;
        @include flex-container(column, center, flex-start);
        max-width: 380px;
        @include layout-padding(20px, $tablet-elm-margin 0px, $desk-elm-margin);
        &:nth-child(even) {
            text-align: -webkit-left;
            text-align: -moz-left;
            text-align: -o-left;
            text-align: -ms-left;
            text-align: left;
        }

        &:nth-child(odd) {
            text-align: -webkit-right;
            text-align: -moz-right;
            text-align: -o-right;
            text-align: -ms-right;
            text-align: right;
            margin-left: auto;
        }

        .icon {
            @include size(width, 40px, 100px, $min-view, $max-view);
            margin-left: 20px;
            margin-top: 20px;
            align-self: flex-end;

            svg {
                fill: $paper-red;
            }
        }

        .text {
            color: $off-white;
            margin-top: -50px;
            max-width: 300px;
            .title {
                color: $off-white;
                @include size(font-size,20px,40px,$min-view,$max-view);
            }
            .desc{
                @include size(font-size,12px,24px,$min-view,$max-view);
            }
        }
        @include responsive('max',$tablet){
            margin: auto;
            .text{
               align-self:center;
               text-align: center;
               margin: auto;
            }
            .icon{
                align-self:center;
                margin:auto;
            }
            &:nth-child(odd) {
               padding-top:100px;
               padding-bottom: 100px;
            }
            &:nth-child(even) {
                padding-top:0px;
                padding-bottom:0px;
             }
       }
    }
}

.main-cta {
    background: $grey;
    @include layout-padding(0 $mobile-elm-margin, 0 $tablet-elm-margin, 0 $desk-elm-margin);
    box-sizing: border-box;
    @include responsive('max',$tablet){
        padding-top: 100px;
    }
    .stmt {
        color: $off-white;
        @include size(font-size, $min-sub-title, $max-sub-title, $min-view, $max-view);
    }
    span {
        display: block;
        text-align: right;
    }
    button {
        float: right;
        margin-top: 20px;
        @include btn(0 60px, transparent, 2px solid $off-white, $off-white);
    }
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

.page-wrapper{
    -webkit-transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -o-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
}