$nav-height: 50px;
nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    max-height: 50px;
    justify-content: space-between;
    @include layout-marign($mobile-page-container, $tablet-page-container, $desk-page-container);
}

.logo {
    display: flex;
    align-items: center;
    img {
        width: $icon-size;
    }
}

.menu-bar{
    width: $icon-size;
    svg {
        fill: $grey;
        width: 50%;
    }
}

html[lang="ar-sa"] {
    nav {
        flex-direction: row-reverse;
    }
}
