- var iconPath = "../../assets/images/icons/social"
ul
    li.copyright  جميع الحقوق محفوظة &copy; #{new Date().getFullYear()} لشركة طور
    li.social
        ul
            li.social-item 
                a(href="#")
                    include ../../assets/images/icons/social/linkedin-icon.jade
            li.social-item
                    a(href="#")
                    include ../../assets/images/icons/social/twitter-icon.jade
            li.social-item
                    a(href="#")
                    include ../../assets/images/icons/social/email-icon.jade
                li.social-item
                    a(href="#")
                    include ../../assets/images/icons/social/phone-icon.jade
                li.social-item
                    a(href="#")
                    include ../../assets/images/icons/social/instagram-icon.jade
